@page "/"
<PageTitle>Index</PageTitle>
<div class="item-ticket-category">
    <h4 class="title-category-ticket">Preparation Project</h4>
    <ProductList></ProductList>
    <div class="row">
        <TiketCard
            UrgencyStatus="High"
            Title="Research on AI Tools"
            Description="Find the affordable AI Tools to transcript the conversation in zoom or google meet."
            Date="09/09/2022"
            Progress="25"
            BadgeText="Primary"
            ></TiketCard>
    </div>
</div>


<div class="item-ticket-category">
    <h4 class="title-category-ticket">Kick Off Project</h4>
    <div class="row">
        <TiketCard
            UrgencyStatus="High"
            Title="Research on AI Tools"
            Description="Find the affordable AI Tools to transcript the conversation in zoom or google meet."
            Date="09/09/2022"
            Progress="25"
            BadgeText="Primary"
            ></TiketCard>
    </div>
</div>
